@page
@model Pop_Mihai_Lab.Pages.Comenzi.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Comanda</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Comanda.ClientID" class="control-label"></label>
                <select asp-for="Comanda.ClientID" class ="form-control" asp-items="ViewBag.ClientID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Comanda.ProdusID" class="control-label"></label>
                <select asp-for="Comanda.ProdusID" class ="form-control" asp-items="ViewBag.ProdusID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Comanda.NrProduse" class="control-label"></label>
                <input asp-for="Comanda.NrProduse" class="form-control" />
                <span asp-validation-for="Comanda.NrProduse" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
